<div class="container">
  <div class="page-header">
    <h2>Getting Started with {{config.PoolName}} mining</h2>
  </div>

  <h4>GPU Rigs & several ASIC's</h4><br>
  <h4>europe stratum+tcp://pool.lamba.top:18180</h4><br>
  <h4>russia stratum+tcp://ru.lamba.top:18180</h4><br>
{{!--  <h4>ASIC InnoSilicon & NiceHash</h4><br>
  <h4>europe stratum+tcp://pool.lamba.top:18030</h4><br>
  <h4>russia stratum+tcp://ru.lamba.top:18030</h4><br> --}}
<h4>
Miner settings:<br>
<br>
PhoenixMiner -coin ubq -pool stratum+tcp://pool.lamba.top:18180 -wal 0x000000000000000000000000000000000000dead.RIG<br>
<br>
lolminer --algo UBQHASH --pool pool.lamba.top:18180 --user 0x000000000000000000000000000000000000dead.RIG<br>
<br>
SRBMiner-MULTI --algorithm ubqhash --pool pool.lamba.top:18180 --wallet 0x000000000000000000000000000000000000dead.RIG --disable-cpu<br>

</h4>
</div>
